:root {
    /* variables */
    --button-container-height: 100vh;
    --button-container-color: #7bb1ca;
}

body {
    margin: 0px;
    padding: 0px;
}

.button-container {
    background-color: var(--button-container-color);
    height: var(--button-container-height);
    width: 100vw;
    position: relative;
    text-align: center;
}


.mic-button {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 170px;
    text-align: center;
    background-color: #ffffff;

    /*make button round*/
    border-radius: 50%;

    box-shadow: 0px 20px 30px 5px #00000021;

}

.speak-icon {
    width: 130px;
    height: 162.5px;
    position: relative;
    top: 30px;
    opacity: 1;

}

#outputtext {
    position: relative;
    opacity: 0;
    font-size: 24pt;
    font-family: 'Helvetica';
    color: gray;
}

#visualizer {
    display: inline-block;
    margin-top: 400px;
}